body {
  background-color: burlywood;
  color: black;
  display: flex;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  justify-content: center;
  font-style: italic;
  flex-direction: column;
  align-items: center;
}
